<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.murallaromana.proyecto">
    <!-- Damos permiso a la app para acceder a internte y al telefono-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/palomitas"
        android:name=".modelos.dao.Start"
        android:label="Peliculas"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeraPineiroPedroProyectoPMDM">
        <activity
            android:name=".activities.DetallesActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PeliculaActivity" />
        </activity>
        <activity
            android:name=".activities.PeliculaActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activities.RegistraActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>